body {
  margin: 2rem;
  font-family:'Segoe UI', Verdana, sans-serif;
}

img {
  max-width: 100%;
  border-radius: .5rem;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 1.4rem;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  min-height: calc(100vh + 10rem); /*toda a tela + tamanho do footer*/
  margin: 0 auto;
}

.content {
  flex: 1;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}